body {
  background-color: #f4f4f4;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.form {
  margin-bottom: 20px;
}

.winning-numbers {
  margin-top: 20px;
  color: #4CAF50; /* A green color */
}


.input, .button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.message {
  color: #333;
  margin-top: 20px;
}
